html, body {
    height: 100%;
}

#app {
    height: 100%; 
    display: flex; 
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
}

.card-body.overflow, #footer-content {
    overflow: auto;
}